<div fxLayout="column">
  <div fxLayout="column">
    <app-custom-toolbar class="ql-toolbar"></app-custom-toolbar>
  </div>
  <div fxLayout="row" class="table-header">
    <div fxFlex="3" class="center-content">
      <input type="checkbox" (change)="selectAll($event)" [checked]="selectedAll"/>
    </div>
    <div fxFlex="3%" class="center-content">ID</div>
    <div fxFlex="47%">Действие</div>
    <div fxFlex="47%">Ожидаемый результат</div>
  </div>

  <div *ngFor="let item of items; let i = index" fxLayout="row" class="table-row">
    <div fxFlex="3%" class="table-cell center-content">
      <input type="checkbox" [(ngModel)]="item.selected" (change)="updateSelectAllState()"/>
    </div>
    <div fxFlex="3%" class="table-cell center-content">{{ item.id }}</div>
    <div fxFlex="47%" class="table-cell center-content" (click)="editAction(i)">
      <div *ngIf="editingActionIndex !== i" [innerHTML]="item.action"></div>
      <quill-editor #actionEditor *ngIf="editingActionIndex === i" [(ngModel)]="item.action" [modules]="modules"
                    class="custom-editor"></quill-editor>
    </div>
    <div fxFlex="47%" class="table-cell center-content" (click)="editExpectedResult(i)">
      <div *ngIf="editingExpectedResultIndex !== i" [innerHTML]="item.expectedResult"></div>
      <quill-editor #resultEditor *ngIf="editingExpectedResultIndex === i" [(ngModel)]="item.expectedResult"
                    [modules]="modules" class="custom-editor"></quill-editor>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button fxLayoutAlign="start center" (click)="deleteSelected()">Удалить шаг</button>
    <button mat-button fxLayoutAlign="start center" (click)="addItem()">Добавить шаг</button>
  </div>
</div>
