quill-editor {
  display: block;
  width: 100%;
  min-height: 10px; /* Минимальная высота для редакторов */
}

.ql-toolbar {
  margin-bottom: 1rem;
}
table {
  width: 100%;
}

.custom-editor .ql-container {
  border: none !important;
}
.custom-editor .ql-editor {
  border: none !important;
  padding: 0 !important;
}
