<div fxLayout="column">
  <app-custom-toolbar class="ql-toolbar"></app-custom-toolbar>
  <div class="row" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="50%">
        <span>Действие</span>
      </div>
      <div fxFlex="50%">
        <span>Ожидаемый результат</span>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let row of rows; let i = index" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="50%">
        <quill-editor [(ngModel)]="row.step" [modules]="modules" class="custom-editor"></quill-editor>
      </div>
      <div fxFlex="50%">
        <quill-editor [(ngModel)]="row.expectedResult" [modules]="modules" class="custom-editor"></quill-editor>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end end">
  <button mat-button fxLayoutAlign="start center" (click)="deleteRow()">Удалить шаг</button>
  <button mat-button fxLayoutAlign="start center" (click)="addRow()">Добавить шаг</button>
</div>

<!--Таблица-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Step Column-->
  <ng-container matColumnDef="step">
    <th mat-header-cell *matHeaderCellDef> Действие </th>
    <td mat-cell *matCellDef="let element"> {{element.step}} </td>
  </ng-container>

  <!-- ExpectedResult Column-->
  <ng-container matColumnDef="expectedResult">
    <th mat-header-cell *matHeaderCellDef> Ожидаемый результат </th>
    <td mat-cell *matCellDef="let element"> {{element.expectedResult}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>

</table>



