<div>
  <div class="main-container">
    <div
      class="editor-container editor-container_balloon-editor editor-container_include-style editor-container_include-block-toolbar"
      #editorContainerElement
    >

    </div>
  </div>
<!---->
  <div>Предусловия:</div>
  <div fxLayout="column">
    <div fxLayout="row" class="table-header">
      <div fxFlex="3" class="center-content">
        <input type="checkbox" (change)="selectAllPreConditions($event)" [checked]="selectedAllPreConditions"/>
      </div>
      <div fxFlex="3%" class="center-content">ID</div>
      <div fxFlex="47%">Действие</div>
      <div fxFlex="47%">Ожидаемый результат</div>
    </div>
    <div class="outline">
      <div *ngFor="let preConditionItem of preConditionItems; let i = index" fxLayout="row" class="table-row">
        <div fxFlex="3%" fxLayout="row" fxLayoutAlign="center center">
          <input type="checkbox" [(ngModel)]="preConditionItem.selected" (change)="updateSelectAllPreConditionsState()"/>
        </div>
        <div fxFlex="3%" fxLayout="row" fxLayoutAlign="center center">{{ preConditionItem.id }}</div>
        <div fxFlex="47%" class="table-cell-left center-content">
          <div class="editor-container__editor">
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="preConditionItem.action"
              [config]="config"
              (ready)="onStepEditorReady($event, preConditionItem, 'actionEditor')"
            ></ckeditor>
          </div>
        </div>
        <div fxFlex="47%" class="table-cell-right center-content">
          <div class="editor-container__editor">
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="preConditionItem.expectedResult"
              [config]="config"
              (ready)="onStepEditorReady($event, preConditionItem, 'expectedResultEditor')"
            ></ckeditor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button fxLayoutAlign="start center" (click)="deleteSelectedPreCondition()">Удалить предусловие</button>
    <button mat-button fxLayoutAlign="start center" (click)="addPreConditionItem()">Добавить предусловие</button>
    <button mat-button fxLayoutAlign="start center" (click)="savePreConditions()">Сохранить изменения</button>
  </div>
<!--  Шаги-->
  <div>Шаги:</div>
  <div fxLayout="column">
    <div fxLayout="row" class="table-header">
      <div fxFlex="3" class="center-content">
        <input type="checkbox" (change)="selectAllSteps($event)" [checked]="selectedAllSteps"/>
      </div>
      <div fxFlex="3%" class="center-content">ID</div>
      <div fxFlex="47%">Действие</div>
      <div fxFlex="47%">Ожидаемый результат</div>
    </div>
    <div class="outline">
      <div *ngFor="let step of stepItems; let i = index" fxLayout="row" class="table-row">
        <div fxFlex="3%" fxLayout="row" fxLayoutAlign="center center">
          <input type="checkbox" [(ngModel)]="step.selected" (change)="updateSelectAllPostConditionsState()"/>
        </div>
        <div fxFlex="3%" fxLayout="row" fxLayoutAlign="center center">{{ step.id }}</div>
        <div fxFlex="47%" class="table-cell-left center-content">
          <div class="editor-container__editor">
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="step.action"
              [config]="config"
              (ready)="onStepEditorReady($event, step, 'actionEditor')"
            ></ckeditor>
          </div>
        </div>
        <div fxFlex="47%" class="table-cell-right center-content">
          <div class="editor-container__editor">
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="step.expectedResult"
              [config]="config"
              (ready)="onStepEditorReady($event, step, 'expectedResultEditor')"
            ></ckeditor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button fxLayoutAlign="start center" (click)="deleteSelectedStep()">Удалить шаг</button>
    <button mat-button fxLayoutAlign="start center" (click)="addStepItem()">Добавить шаг</button>
    <button mat-button fxLayoutAlign="start center" (click)="saveSteps()">Сохранить изменения</button>
  </div>
<!--  Постусловия-->
<div>Постусловия:</div>
  <div fxLayout="column">
    <div fxLayout="row" class="table-header">
      <div fxFlex="3" class="center-content">
        <input type="checkbox" (change)="selectAllPostConditions($event)" [checked]="selectedAllPostConditions"/>
      </div>
      <div fxFlex="3%" class="center-content">ID</div>
      <div fxFlex="47%">Действие</div>
      <div fxFlex="47%">Ожидаемый результат</div>
    </div>
    <div class="outline">
      <div *ngFor="let postCondition of postConditionItems; let i = index" fxLayout="row" class="table-row">
        <div fxFlex="3%" fxLayout="row" fxLayoutAlign="center center">
          <input type="checkbox" [(ngModel)]="postCondition.selected" (change)="updateSelectAllPostConditionsState()"/>
        </div>
        <div fxFlex="3%" fxLayout="row" fxLayoutAlign="center center">{{ postCondition.id }}</div>
        <div fxFlex="47%" class="table-cell-left center-content">
          <div class="editor-container__editor">
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="postCondition.action"
              [config]="config"
              (ready)="onStepEditorReady($event, postCondition, 'actionEditor')"
            ></ckeditor>
          </div>
        </div>
        <div fxFlex="47%" class="table-cell-right center-content">
          <div class="editor-container__editor">
            <ckeditor
              [editor]="Editor"
              [(ngModel)]="postCondition.expectedResult"
              [config]="config"
              (ready)="onStepEditorReady($event, postCondition, 'expectedResultEditor')"
            ></ckeditor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button fxLayoutAlign="start center" (click)="deleteSelectedPostCondition()">Удалить шаг</button>
    <button mat-button fxLayoutAlign="start center" (click)="addPostConditionItem()">Добавить шаг</button>
    <button mat-button fxLayoutAlign="start center" (click)="savePostConditions()">Сохранить изменения</button>
  </div>
<!--  -->
</div>
