.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #c4d9ff;
  color: white;
  padding: 10px;
}

.content {
  display: flex;
  flex: 1; /* flex-grow, flex-shrink и flex-basis */
  overflow: hidden; /* предотвращает появление прокрутки */
}

.left-column {
  background-color: #f1f1f1;
  padding: 10px;
  overflow-y: auto; /* прокрутка появляется только при переполнении */
}

.right-column {
  background-color: #ffffff;
  padding: 10px;
  border-left: 1px solid #ddd;
  overflow-y: auto; /* прокрутка появляется только при переполнении */
}

/*Модальное окно*/
.full-screen-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}


