<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="start start">
    <app-top-menu></app-top-menu>
  </div>
  <as-split [direction]="'horizontal'">
    <as-split-area [size]="20">
      <div class="left-column">
        <app-packages></app-packages>
      </div>
    </as-split-area>
    <as-split-area [size]="80">
      <div class="right-column">
        <app-test-case-table></app-test-case-table>
      </div>
    </as-split-area>
  </as-split>
</div>
<router-outlet></router-outlet>
