<button mat-icon-button (click)="openModal()"><mat-icon>add</mat-icon></button>
<!-- Общая кнопка для запуска выбранных автотестов -->
<button mat-icon-button (click)="runSelectedTests()"><mat-icon>touch_app</mat-icon></button>
<button mat-icon-button (click)="showData()"><mat-icon>show</mat-icon></button>

<!-- Кнопка для открытия меню -->
<button mat-icon-button [matMenuTriggerFor]="columnMenu">
  <mat-icon>view_column</mat-icon>
</button>

<div class="table-container" cdkDropListGroup>
  <div class="column-drop-list" cdkDropList [cdkDropListData]="displayedColumns" (cdkDropListDropped)="dropColumn($event)">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Колонка для чекбоксов -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="toggleSelectAll($event)" [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.selected" (ngModelChange)="onCheckboxChange()" [disabled]="!element.automationFlag"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Динамически создаваемые колонки -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>{{ column | titlecase }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <!-- Колонка для кнопки запуска автотестов -->
      <ng-container matColumnDef="run">
        <th mat-header-cell *matHeaderCellDef>Run</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button *ngIf="element.automationFlag" (click)="runTest(element)" [disabled]="element.loading">
            <mat-icon *ngIf="!element.loading">play_arrow</mat-icon>
            <mat-progress-spinner *ngIf="element.loading" diameter="24" mode="indeterminate"></mat-progress-spinner>
          </button>
        </td>
      </ng-container>

      <!-- Строки таблицы -->
      <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsWithSelectAndRun" cdkDrag (cdkDragStarted)="onDragStarted(row)" (cdkDragEnded)="onDragEnded()"></tr>
    </table>
  </div>
</div>

<!-- Меню для выбора колонок -->
<mat-menu #columnMenu="matMenu">
  <mat-checkbox *ngFor="let column of allColumns" [checked]="displayedColumns.includes(column)" (change)="toggleColumn(column)">
    {{ column | titlecase }}
  </mat-checkbox>
</mat-menu>



<app-fullscreen-modal [isOpen]="isModalOpen" (close)="handleModalClose()">
  <app-create-test-case></app-create-test-case>
</app-fullscreen-modal>

<app-execution-modal [isOpen]="isModalOpen" (close)="handleModalClose()">
  <app-create-test-case></app-create-test-case>
</app-execution-modal>
