<!-- Кнопка для открытия меню -->
<button mat-icon-button [matMenuTriggerFor]="columnMenu">
  <mat-icon>view_column</mat-icon>
</button>
<div class="table-container" cdkDropList (cdkDropListDropped)="dropTable($event)">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Определение колонок -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <!-- Строки таблицы -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag cdkDragHandle></tr>
  </table>
</div>

<!-- Меню для выбора колонок -->
<mat-menu #columnMenu="matMenu">
  <mat-checkbox *ngFor="let column of allColumns" [checked]="displayedColumns.includes(column)" (change)="toggleColumn(column)">
    {{ column | titlecase }}
  </mat-checkbox>
</mat-menu>


