.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #c4d9ff;
  color: white;
  padding: 10px;
}

.left-column {
  background-color: #f1f1f1;
  padding: 10px;
}

.right-column {
  background-color: #ffffff;
  padding: 10px;
  border-left: 1px solid #ddd;
}
