<div class="container">
  <div class="header" fxLayout="row" fxLayoutAlign="start start">
    <div class="input-container" fxLayout="row" fxFlex="100">
      <input type="text" [(ngModel)]="testCaseName" placeholder="введите название тест-кейса" class="styled-input">
    </div>
  </div>
  <div class="content" fxLayout="row" fxFlexFill>
    <div fxFlex="20" class="left-column">
      <mat-form-field class="select-field">
        <mat-label>Приоритет</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Самый высокий</mat-option>
          <mat-option value="2">Высокий</mat-option>
          <mat-option value="3">Средний</mat-option>
          <mat-option value="4">Низкий</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <label class="mdc-form-field">
          <span class="mdc-form-field__label">Время выполнения</span>
          <input type="time" class="mdc-text-field__input">
        </label>
      </div>
      <div class="block">
        <mat-form-field class="select-field">
          <mat-label>Признак автоматизации</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Ручной</mat-option>
            <mat-option value="2">Автоматизирован</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="80" class="right-column">
      <app-test-case></app-test-case>
    </div>
  </div>
</div>
